<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApJEox8zsXNwUEe6i_sVc7T11ulzUFis4</string>
	<key>GCM_SENDER_ID</key>
	<string>640712032797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afifur.pcApp</string>
	<key>PROJECT_ID</key>
	<string>pizza-delivery-3709d</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-delivery-3709d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640712032797:ios:dede4987e096cbf8d7bcf4</string>
</dict>
</plist>